
{% extends "../layouts/_base-league.html" %} 
{% block title %}Home{% endblock %} 
{% block body_class %}page page--home{% endblock %}
{% block head_extra %} 
<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
/> 
{% endblock %} 
{% block league_header %}
  {% include "../components/header-league/header-league.twig" with {
    logo: '/assets/images/league6.webp',
    tag:  'NBA',
    href: '/league',
    nav_items: [
      { title: 'Home', url: '/league'},
      { title: 'Calendar', url: '/calendar', active: true  },
      { title: 'Lives',    url: '/lives' },
      { title: 'Review',   url: '/review' },
      { title: 'Teams',    url: '/teams' },
      { title: 'Players',  url: '/players'},
      { title: 'News',     url: '/news' },
      { title: 'Videos',   url: '/videos' }
    ]
  } %}
{% endblock %}
{% block content %}

  <section class="page-content">
    <div class="container">
      <div class="page-content__inner">
             <section class="block">
              <div class="block__inner">
                {% include "../components/breadcrumbs/breadcrumbs.twig" with {
                  items: [
                    { href: "/", icon: "home" },
                    { label: "Basketball", href: "/basketball" },
                    { label: "NBA", href: "/league" },
                    { label: "Calendar" }
                  ]
                } %}
              </div>
            </section>  
             <section class="block">
              <div class="block__inner">
                {% include "../components/calendar/calendar.twig" %}
              </div>
            </section>  

      </div>
    </div>
  </section>


{% endblock %} 
{% block scripts %}   
{% endblock %}
