.card-match {
    display: flex;
    gap: 16px;
    border-radius: 8px;
    padding: 8px;
    border: 1px solid $color-gray;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
		&__teams {
      display: flex;
      flex-direction: column;
      gap: 8px;
      flex-grow: 1;
      border-right: 1px solid $color-gray;
      padding-right: 8px;
		}

		&__team {
      display: flex;
      align-items: center;
      gap: 6px;
      &:hover  &-name{
        color: $color-primary;
        transition: color .3s ease;
      }
		}

		&__team-logo {
      height: 32px;
      width: 32px;
      object-fit: contain;
		}


		&__score {
      margin-left: auto;
      font-size: 16px;
      font-weight: bold;
      width: 24px;
      height: 24px;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 4px;
      border-radius: 4px;
      background-color: $color-gray;
		}
		&__meta {
      display: flex;
      flex-direction: column;
      gap: 4px;
      align-items: center;
      justify-content: space-between;
		}

		&__status {
      font-weight: 700;
		}

		&__league {
      padding: 4px 8px;
      border-radius: 4px;
      background-color: $color-gray;
      &:hover {
        background-color: $color-primary-dark;
        color: $color-light;
        transition: background-color .3s ease, color .3s ease;
      }
		}

		&__button {
      display: inline-block;
      padding: 6px 12px;
      background-color: $color-primary;
      color: $color-light;
      text-decoration: none;
      border-radius: 4px;
      text-align: center;
      font-size: 14px;
      transition: background-color 0.3s;

      &:hover {
        background-color: $color-primary-dark;
      }
		}
}
