.list {
		&__grid {
      display: flex;
      flex-direction: column;
      gap: 8px;
		}
    &__item {
              border-bottom: 1px solid rgba($color-dark, .1);
              padding-bottom: 8px;
              &:last-child {
                border-bottom: none;
              }
    }
		&__link {
      display: flex;
      align-items: center;
      

      gap: 8px;
      &:hover .list__title{
        color: $color-primary-dark;
      }
		}
		&__logo  {
      height: 24px;
      width: 24px;
      object-fit: contain;
		}
		&__title {
      font-size: 14px;
      transition: color .3s ease;
      font-family: $font-sub;
      font-weight: 600;
		}

}
