      <section class="section section_margin"
               data-pagination
         data-pagination-items=".match__grid"
         data-pagination-item=".match-card"
         data-pagination-size="8"
         data-pagination-param="mpage">
        <div class="container">
          <div class="section__inner">
            <div class="match__grid">
              <article class="match-card" >
              </article>
            </div>
            <nav class="pagination" aria-label="Matches pagination"></nav>
          </div>
        </div>
      </section>