@use "@/assets/styles/utils/_mixins.scss" as *;

.card-post-m {

		&__link {
      display: flex;
      flex-direction: column;
      &:hover .card-post-m__title {
        color: $color-primary-dark;
      }
		}

		&__thumb {
      aspect-ratio: 16 / 9;
      overflow: hidden;
      border-radius: 8px;
		}

		&__img {
      width: 100%;
      height: 100%;
      object-fit: cover;
		}

		&__content {
      margin-top: 10px;
		}

		&__title {
      font-size: 18px;
      font-weight: 600;
      line-height: 1.2;
       @include line-clamp(2, 1.6em);
		}

		&__meta {
      opacity: .7;
		}
}
