@use "@/assets/styles/utils/_root.scss" as *;

.section-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
  gap: 8px;
  margin-bottom:24px;
  padding-bottom: 8px;
  border-bottom: 1px solid rgba($color-dark, .2);
		&__wrap {
      display: flex;
      align-items: center;
      gap: 8px;
		}

		&__icon {
      font-size: 24px;
      color: $color-light;
      padding: 4px;
      border-radius: 4px;
      background-color: $color-primary-dark;
		}

		&__logo {
         padding: 4px;
         border-radius: 4px;
         background-color: $color-gray;
      width: 32px;
      height: 32px;
      object-fit: contain;
		}

		&__title {
      font-size: 20px;
      text-transform: uppercase;
		}

		&__link {
      display: flex;
      text-transform: capitalize;
      font-weight: 400;
      &:hover {
        color: $color-primary-dark;
      }
		}
}

